---
import Layout from '../layouts/Layout.astro';
import BentoGrid from '../components/BentoGrid.astro';
import BentoItem from '../components/BentoItem.astro'
---

<Layout title="Akanksha.">
	<main class="m-2">
		<BentoGrid>
			<BentoItem/>
			<BentoItem/>
			<BentoItem/>
			<BentoItem/>
			<BentoItem/>
			<BentoItem/>
			<BentoItem/>
			<BentoItem/>
			<BentoItem/>
			<BentoItem/>
			
		</BentoGrid>
	</main>
</Layout>

