<header class="w-full text-5xl grid grid-cols-3 p-3">
  <div class="border-2 border-black"></div>
  <div class="border-b-2 border-t-2 border-black text-center flex flex-col">
    <small class="text-xs p-2 pb-0">AKANKSHA</small>
    <h1 class="font-extrabold p-2">PORTFOLIO</h1>
  </div>
  <div class="border-2 border-black"></div>
</header>
